body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header{
  width:100%;
  height: 100px;
  background-color: #568259;  
  font-family: B612 Mono;
}

#icon{
  width: 100px;
  height: 100px;
  margin: 0px;
}

#head-text{
  font-family: Rubik Mono One;
  font-size: 2em;
  font-weight: 1;
  margin-left: 10px;
}

#icon-div{
  width: 114px;
}

#hamburger-div{
  display: none;
  width: 10%;
}

#text-div{
  width: calc(100% - 114px - 307px);
}

#link-div{

}

/* @media screen and (max-width:600px){
  #header{
    height: 20px;
  }
} */
/* 
div img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
} */

.head{
  display: inline-block;
  vertical-align: middle;
}

div img{
  height: 48px;
  margin-left:10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#head{
  display:inline-block;
}

.head-link{
  margin: 7px;
  color: #464E47;
  font-size: 20px;
  text-decoration: none;
}

#bImg{
  width: 90%;
  height: 100%;
}

#blogImg{
  height: 200px;
}

.blogContent{
  font-family: B612 Mono;
}

#blog {
  background-color: #F1FFFA;
  padding: 20px;
  margin: 20px;
  width: 65%;
  border: solid 1px gray;
}

#sidebar{
  margin-top: 20px;
  width: 24%;
  background: #CCFCCB;
  padding: 20px;
  vertical-align: top;
}

.body-div{
  display: inline-block;
  /* position: relative; */
}

.sideRow{
  border: solid 0.5px gray;
  margin-top: 4px;
  margin-bottom: 4px;
}

.sidebarText{
  margin-left: 4px;
}

.side-row-data{
  display: inline-block;
  vertical-align: middle;
}

#footer {
  /* padding: 20px; */
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  background: #ddd;
  /* margin-top: 20px; */
  width: 100%;
}

/* @media screen and (max-width: 800px) {
  #blog, #sidebar { 
    width: 100%;
    padding: 0;
  }
} */

@media screen and (max-width: 1160px) {
  #icon-div{
    width: 114px; 
  }

  #text-div{
    width: calc(100% - 80px - 114px)
  }

  #hamburger-div{
    display: inline-block;
    width: 80px;
    position: relative;
  }

  .hamburger-icon{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .hamburger-menu-items{
    border: solid 0.5px gray; 
    padding:2px;
  }

  #hamburger-menu{
    border: solid 1px gray;
    background: #F1FFFA;
    /* padding: 5px; */
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: -40px;
    display: none;
  }

  /* #hamburger-container{
    position: relative;
    z-index: 1;
  } */

  #blog {
    background-color: #F1FFFA;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 82px);
    border: solid 1px gray;
  }

  #link-div{
    display: none;
  }

  #sidebar{
    margin-left: calc((100% - 400px - 40px - 2px)/2);
    margin-right: calc((100% - 400px - 40px - 2px)/2); 
    margin-bottom: 20px;
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  #sidebar{
    width:60%;
    margin-left:calc((40% - 42px)/2);
    margin-right: calc((40% - 42px)/2);
  }
  #text-div{
    display: none;
  }
  #icon-div{
    width: calc(100% - 80px);
  }
  #hamburger-div{
    width: 80px;
  }
}